.buttons {
    display: flex;
    justify-content: space-between;

    button {
        font-size: 13px;
        padding-left: 12px;
        padding-left: 12px;
    }
}

.register {
    display: none
}